/*
    Author: Aqeel Bhat
    DOC: 29th of November 2014
    GitHub: http:/www.github.com/aqeelb
    Handcrafted in Adobe Brackets []
*/

//global variables and rules
$background-color: red;
$border-color: yellow;

//import bootstrap
@import "bootstrap";

//import awesome google font
@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}


//import sassy partials
@import "partials/_shell";
@import "partials/_loader";
@import "partials/_navbar";
@import "partials/_boxshadow";
@import "partials/_photoramp";

