$icon-color:#337ab7;
 $icon-highlight:#204d74;
 .app-container {
     padding-top: 80px;
    .view-wrapper {        
        min-height: 360px;
        text-align: center;
        form {
            .login-icon {
                text-align: center;
                i {
                    color: $icon-color;
                }
                i:hover {
                    color: $icon-highlight;
                }
            }
        }
    }
}
.flex{
	display: -webkit-flex;
	display: flex;
}
.flex-1{
	-webkit-flex: 1 0 0;
   	flex: 1 0 0;
}
.vertical-center{
    -webkit-align-items: center;
    align-items: center;
}