<div class="row photoramp">
    <div class="row">
        <div class="col-md-3">
            <img src="{{user.profile_picture}}" class="profile-picture">
        </div>
        <div class="col-md-3 text-center">
            <h1>{{user.counts.media}}</h1>
            <span>Pictures</span>
        </div>
        <div class="col-md-3 text-center">
            <h1>{{user.counts.followed_by}}</h1>
            <span>Followers</span>
        </div>
        <div class="col-md-3 text-center">
            <h1>{{user.counts.follows}}</h1>
            <span>Following</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{{user.full_name}}</h1>
        </div>
        <div class="col-md-12">
            <h3>{{user.bio}}</h3>
        </div>
    </div> 
    <div class="row photogrid boxshadow">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
    </div>
</div>
