<div class="row photoramp">
    <div class="row">
        <div class="col-md-3">
            <img src="{{user.profile_picture}}" class="profile-picture">
        </div>
        <div class="col-md-3">
            <p>{{user.counts.media}}</p>
            <span>Pictures</span>
        </div>
        <div class="col-md-3">
            <p>{{user.counts.followed_by}}</p>
            <span>Followers</span>
        </div>
        <div class="col-md-3">
            <p>{{user.counts.follows}}</p>
            <span>Following</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <p>{{user.full_name}}</p>
        </div>
        <div class="col-md-4">
            <a href="{{user.website}}">Website</a>
        </div>
        <div class="col-md-4 ">
            <p>{{user.bio}}</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-4 col-sm-4 thumb" ng-repeat="picture in media">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="{{picture.images.low_resolution.url}}" alt="">
            </a>
        </div>
    </div>
</div>
